div .col-md-8 {background: url('../images/blue.jpg')}
.nav-tabs {font-size:1.4em;color:white;}
 div .col-md-4, .col-md-8{
 margin-top: -25px;
 padding-right:3em;
 /*  background:red; */

     margin-right: auto;
    margin-left: auto;
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
 }
.form-control{
width:60%;
}
table td {max-width:100px;}
header {background:#264475;
width:100%; z-index:1000;
  height:125px;
  color:white;  
  box-shadow: 0 0 10px rgba(38,68,117,0.5);}
                               
table{background: rgba(255,255,255,0.5);
border-color:white;}

#ctable{padding:5px;width:80%;
 margin-left: 10%;
 color:white;
 margin-bottom:10px;
}

row{margin-left:0;}
.vcenter {
display: inline-block;
  float: none;
  vertical-align: middle;}


	 